.footerWrapper
	.footerSection
		h4 
			a(href="/little_black_book") Little Black Book
		ul.footerNav
			li
				a(href="/local_weddings/california") Locations
			li
				a(href="/local_weddings/california") Specialties
			li
				a(href="/local_weddings/california") Services
			li
				a(href="/local_weddings/california") Become a Vendor
			li.seeAll
				a(href="/local_weddings") See all Vendors
		h4
			a(href="/diy") Do It Yourself
		ul.footerNav
			li
				a(href="/real_weddings") DIY Fashion Accessories
			li
				a(href="/real_weddings") DIY Flowers
			li
				a(href="/real_weddings") DIY Packaging
			li
				a(href="/real_weddings") DIY Wedding Invitations and Stationery	
			li.seeAll
				a(href="/real_weddings") See all Real Weddings
	.footerSection
		h4
			a(href="/local_weddings") Local Weddings
		ul.footerNav
			li
				a(href="/local_weddings/california") California
			li
				a(href="/local_weddings/california") Texas
			li
				a(href="/local_weddings/california") New York
			li
				a(href="/local_weddings/california") Destination
			li.seeAll
				a(href="/local_weddings") See all Local Weddings
		h4 
			a(href="/real_weddings") Real Weddings
		ul.footerNav
			li
				a(href="/real_weddings") Budget Beautiful
			li
				a(href="/real_weddings") Casual Elegance
			li
				a(href="/real_weddings") Comentary
			li
				a(href="/real_weddings") Whimsical
			li.seeAll
				a(href="/real_weddings") See all Real Weddings
	.footerSection
		h4
			a(href="/inspiration_gallery") Inspiration Galleries
		h4
			a(href="/inspiration_boards") Inspiration Boards
	.footerSection
		h4 Style Me Pretty
		ul.footerNav
			li
				a(href="/dashboard/laura.fabian") My Account
			li
				a(href="/settings/laura.fabian") My Settings
			li
				a(href="/help") Help
			li
				a(href="") Quickboard
		ul.footerNav.bottom
			li
				a(href="/about") About
			li
				a(href="/press") Press
			li
				a(href="/advertise") Advertise
			li
				a(href="/submit_a_wedding") Submit A Wedding
			li
				a(href="/contact") Contact
			li
				a(href="/terms") Terms Of Use
		//social
		.social
			ul
				li.pinterest
					a(href="http://pinterest.com/stylemepretty/") 
						span Pinterest
				li.facebook
					a(href="https://www.facebook.com/stylemepretty") 
						span Facebook
				li.twitter
					a(href="https://twitter.com/#!/stylemepretty") 
						span Twitter

.footerCopyright
	li &copy;2007-2012 Style Me Pretty, all rights reserved