.dashboardNavigation
	ul.nav
		li.boards
			a(href="/paul.marino/boards") Inspiration Boards
		li.favorites
			a(href="/paul.marino/favorites") Favorites
		li.following
			a(href="/paul.marino/following") Following
		li.comments
			a(href="/paul.marino/comments") Comments
		