.contentListItem
	.avatar
		a(href="/paul.marino/boards/single")
			img(src="/img/temp/board_avatar.png", width="50", height="50")
	.metaWrapper
		h4 
			a(href="/paul.marino/boards/single") NAPA VALLEY WEDDING
		ul.metaActions
			li.date created on APR 11 
			li.favorites
				a(href="/paul.marino/boards/single#favorites") 3 favorites
			li.actions
				a(href="") Delete
