.inspirationBoard
	h5 
		a(href="/paul.marino/boards/single") Board Title
	.boardWrapper
		a(href="/paul.marino/boards/single")
			img(src="/img/temp/board_avatar.png", width="211", height="211")
		ul.actions
			li.favorites
				a(href="/paul.marino/boards/single#favorites") 12 Favorites
			li.edit
				a(href="")
					img(src="/img/temp/edit_icon.png")
			li.share
				a(href="")
					img(src="/img/temp/share_icon.png")