.postComment
	ul.user
		li.avatar
			img(src="/img/temp/laura_thumb.png", width="50", height="50")
	div.commentMeta
		.top
			.username 
				h4 Laura
		.message 
			a(href="/blog_post#comments") @Paul - thank you! Much appreciated :)
		.date April 11, 2012 at 3:46 pm
.postComment
	ul.user
		li.avatar
			img(src="/img/temp/laura_thumb.png", width="50", height="50")
	div.commentMeta
		.top
			.username 
				h4 Laura
		.message 
			a(href="/blog_post#comments") @Paul - thank you! Much appreciated :)
		.date April 11, 2012 at 3:46 pm
.postComment
	ul.user
		li.avatar
			img(src="/img/temp/laura_thumb.png", width="50", height="50")
	div.commentMeta
		.top
			.username
				h4 Laura
		.message 
			a(href="/blog_post#comments") @Paul - thank you! Much appreciated :)
		.date April 11, 2012 at 3:46 pm
.postComment
	ul.user
		li.avatar
			img(src="/img/temp/laura_thumb.png", width="50", height="50")
	div.commentMeta
		.top
			.username 
				h4 Laura
		.message 
			a(href="/blog_post#comments") @Paul - thank you! Much appreciated :)
		.date April 11, 2012 at 3:46 pm