.mainContent
	
	!= partial('dashboard/paul/paul_profile')

	.favorites.icons
		!= partial('dashboard/paul/_dashboard_navigation_favorites')

	.dashboardContent

		!= partial('dashboard/paul/paul_icons_boards')
		!= partial('dashboard/paul/paul_icons_boards')
		!= partial('dashboard/paul/paul_icons_boards')
		!= partial('dashboard/paul/paul_icons_boards')	

		!= partial('dashboard/paul/paul_icons_boards')
		!= partial('dashboard/paul/paul_icons_boards')
		!= partial('dashboard/paul/paul_icons_boards')
		!= partial('dashboard/paul/paul_icons_boards')	

		!= partial('dashboard/paul/paul_icons_boards')
		!= partial('dashboard/paul/paul_icons_boards')
		!= partial('dashboard/paul/paul_icons_boards')
		!= partial('dashboard/paul/paul_icons_boards')

		!= partial('dashboard/paul/paul_icons_boards')

.sidebar
	.adverts
		img(src="/img/temp.jpg")