.mainContent
	
	!= partial('dashboard/paul/paul_profile')

	.following.icons
		!= partial('dashboard/paul/_dashboard_navigation_following')

	.dashboardContent

		a(name="following")
		h3.following Paul's Following

		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')

		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')

		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')

		a(name="followers")
		h3.following Paul's Followers

		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')

		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')

		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')

		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')

		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')

		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')

		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')

		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')

		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')

		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')

		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')

		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')

		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')

		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')

		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')

		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')

		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')

		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
		!= partial('dashboard/paul/_paul_following_list')
				

.sidebar
	.adverts
		img(src="/img/temp.jpg")