.container
	.row
		.span2
			.globalnav-item
				a(href="/") Blogs
		.span2
			.globalnav-item
				a(href="/") Wedding Inspiration
		.span2
			.globalnav-item
				a(href="/") Real Weddings
		.span2
			.globalnav-item
				a(href="/") DIY Projects
		.span2
			.globalnav-item
				a(href="/") Fashion Look Book
		.span2
			.globalnav-item
				a(href="/") Little Black Book
