.container
	.row.globalSituation
		.span3
			h1
				a(href="/") Style Me Pretty
		.span6
			| &nbsp;
		.span3
			form.form-search
			
				input(name="search", type="text")
				input.btn(name="seach-submit", type="submit", value="0" )