.mainNav
	.mainNavItem 
		a(href="/wedding_inspiration") Wedding Inspiration
	.mainNavItem 
		a(href="/weddings") Real Weddings
	.mainNavItem 
		a(href="/little_black_book") Little Black Book
	.mainNavItem 
		a(href="/diy") Do It Yourself
	.mainNavItem
		a(href="/local_weddings") Local Weddings
	.mainNavItem.last
		a(href="/look_book") Look Book