/*
Syntax error: Undefined mixin 'clearfix'.
        on line 4 of css/scss/profile.scss, in `clearfix'
        from line 4 of css/scss/profile.scss

1: .memberProfile, .memberProfileEdit{
2: 	padding:0 12px 12px;
3: 	border-bottom:1px solid #ccc;
4: 	@include clearfix;
5: 	.avatar{
6: 		margin-right:20px;
7: 		float:left;
8: 		h4{
9: 			margin:0;

Backtrace:
css/scss/profile.scss:4:in `clearfix'
css/scss/profile.scss:4
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:170:in `visit_mixin'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/tree/root_node.rb:20:in `render'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/engine.rb:300:in `_render'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/engine.rb:247:in `render'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/plugin/compiler.rb:200:in `each'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/lib/sass/plugin/compiler.rb:298:in `block in watch'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Users/jayfallon/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.19/vendor/listen/lib/listen/adapters/polling.rb:31:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'clearfix'.\A         on line 4 of css/scss/profile.scss, in `clearfix'\A         from line 4 of css/scss/profile.scss\A \A 1: .memberProfile, .memberProfileEdit{\A 2: 	padding:0 12px 12px;\A 3: 	border-bottom:1px solid #ccc;\A 4: 	@include clearfix;\A 5: 	.avatar{\A 6: 		margin-right:20px;\A 7: 		float:left;\A 8: 		h4{\A 9: 			margin:0;"; }
