.dashboardNavigation
	ul.nav
		li.boards
			a(href="/dashboard/laura.fabian/boards") Inspiration Boards
		li.favorites
			a(href="/dashboard/laura.fabian/favorites") Favorites
		li.following
			a(href="/dashboard/laura.fabian/following") Following
		li.comments
			a(href="/dashboard/laura.fabian/comments") Comments
		