.dashboardNavigation
	ul.nav
		li.favorites
			a(href="/dashboard/laura.fabian/boards") Inspiration Boards
		li.favorites
			a(href="/dashboard/laura.fabian/favorites") Favorites
		li.following
			a(href="/dashboard/laura.fabian/following") Following
		li.comments
			a(href="/dashboard/laura.fabian/comments") Comments

	ul.filter
		li.icons 
			a(href="/dashboard/laura.fabian/favorites/icons") Icons
		li.single
			a(href="/dashboard/laura.fabian/favorites/single") Single
		li.list
			a(href="/dashboard/laura.fabian/favorites/list") List
		