.postComment
	ul.user
		li.avatar
			a(href="")
				img(src="/img/temp/paul_thumb.png", width="50", height="50")
		li.follow
			a(href="") Follow
	div.commentMeta
		.top
			.username 
				h4
					a(href="") Paul
			.favorite
				a(href="") Unfavorite
		.message 
			a(href="/blog_post#comments") @Laura: Those are super-cute! I've sent an email to Orange Turtle Photography ask where they're from. Hopefully I have an answer for you soon!
		.date April 11, 2012 at 3:18 pm

.postComment
	ul.user
		li.avatar
			a(href="")
				img(src="/img/temp/paul_thumb.png", width="50", height="50")
		li.follow
			a(href="") Follow
	div.commentMeta
		.top
			.username 
				h4
					a(href="") Paul
			.favorite
				a(href="") Unfavorite
		.message 
			a(href="/blog_post#comments") @Laura: Those are super-cute! I've sent an email to Orange Turtle Photography ask where they're from. Hopefully I have an answer for you soon!
		.date April 11, 2012 at 3:18 pm