.followerListItem
	ul.left
		li
			a(href="")
				img(src="/img/temp/board_avatar.png", width="50", height="50")
		li
			a(href="") Unfollow

	ul.right
		li
			h4
				a(href="") Username
		li.swatch
			img(src="/img/temp/swatch_04.png", width="100")