.memberProfile
	.avatar
		img(src="/img/temp/laura.png")
	.content
		ul.metaProfile
			li.username
				h4 Laura Fabian
			li.url
				a(href="/dashboard/laura.fabian") http://www.stylemepretty.com/laura.fabian
			li.email laurafabian@gmail.com <span>(not publicly displayed)</span>
		ul.network
			li.pinterest
				a(href="", alt="http://pinterest.com/laurafabian") 
					img(src="/img/temp/temp_social.png", alt="pinterest")
			li.facebook
				a(href="", alt="http://facebook.com/laura.fabian")
					img(src="/img/temp/temp_social.png", alt="facebook")
			li.twitter
				a(href="", alt="http://twitter.com/laurafabian")
					img(src="/img/temp/temp_social.png", alt="twitter")
		ul.memberWedding
			li.title
				h4 My Wedding
			li.date June 7th, 2013 in Aspen, Colorado
	.socialActions
		.social
			h4
				a(href="") Inspiration Boards: 13
			h4
				a(href="") Following: 32
			h4
				a(href="") Followers: 96
			h4
				a(href="") Favorites: 220
			h4.colors
				a(href="")
					| Colors:<br>
					img(src="/img/temp/swatch_01.png")