.dashboardNavigation
	ul
		li.profile
			a(href="/dashboard/laura.fabian/edit/profile") Profile
		li.subscriptions
			a(href="/dashboard/laura.fabian/edit/subscriptions") Subscriptions
		li.privacy
			a(href="/dashboard/laura.fabian/edit/privacy") Privacy
		li.account
			a(href="/dashboard/laura.fabian/edit/account") Account
		