.mainContent
	
	!= partial('dashboard/laura_profile')

	.following.list
		!= partial('dashboard/_dashboard_navigation_following')

	.dashboardContent

		!= partial('dashboard/_laura_following_list')
				

.sidebar
	.adverts
		img(src="/img/temp.jpg")