.mainContent
	
	!= partial('dashboard/laura/laura_profile')

	.boards.icons
		!= partial('dashboard/laura/_dashboard_navigation_boards')

	.dashboardContent	

		!= partial('dashboard/laura/laura_boards_icons')
		!= partial('dashboard/laura/laura_boards_icons')
		!= partial('dashboard/laura/laura_boards_icons')
		!= partial('dashboard/laura/laura_boards_icons')	

		!= partial('dashboard/laura/laura_boards_icons')
		!= partial('dashboard/laura/laura_boards_icons')
		!= partial('dashboard/laura/laura_boards_icons')
		!= partial('dashboard/laura/laura_boards_icons')	

		!= partial('dashboard/laura/laura_boards_icons')
		!= partial('dashboard/laura/laura_boards_icons')
		!= partial('dashboard/laura/laura_boards_icons')
		!= partial('dashboard/laura/laura_boards_icons')

		!= partial('dashboard/laura/laura_boards_icons')

.sidebar
	.adverts
		img(src="/img/temp.jpg")