.mainContent
	
	!= partial('dashboard/laura_profile')

	.boards.list
		!= partial('dashboard/dashboard_navigation_boards')

	.dashboardContent

		!= partial('dashboard/laura_list_boards')
		!= partial('dashboard/laura_list_boards')
		!= partial('dashboard/laura_list_boards')
		!= partial('dashboard/laura_list_boards')

		!= partial('dashboard/laura_list_boards')
		!= partial('dashboard/laura_list_boards')
		!= partial('dashboard/laura_list_boards')
		!= partial('dashboard/laura_list_boards')

		!= partial('dashboard/laura_list_boards')
		!= partial('dashboard/laura_list_boards')
		!= partial('dashboard/laura_list_boards')
		!= partial('dashboard/laura_list_boards')

		!= partial('dashboard/laura_list_boards')
				

.sidebar
	.adverts
		img(src="/img/temp.jpg")