.mainContent
	
	!= partial('dashboard/laura_profile')

	.favorites.icons
		!= partial('dashboard/_dashboard_navigation_favorites')

	.dashboardContent

		!= partial('dashboard/laura_boards_icons')
		!= partial('dashboard/laura_boards_icons')
		!= partial('dashboard/laura_boards_icons')
		!= partial('dashboard/laura_boards_icons')	

		!= partial('dashboard/laura_boards_icons')
		!= partial('dashboard/laura_boards_icons')
		!= partial('dashboard/laura_boards_icons')
		!= partial('dashboard/laura_boards_icons')	

		!= partial('dashboard/laura_boards_icons')
		!= partial('dashboard/laura_boards_icons')
		!= partial('dashboard/laura_boards_icons')
		!= partial('dashboard/laura_boards_icons')

		!= partial('dashboard/laura_boards_icons')

.sidebar
	.adverts
		img(src="/img/temp.jpg")