.mainContent
	
	!= partial('dashboard/laura_profile')

	.following.icons
		!= partial('dashboard/_dashboard_navigation_following')

	.dashboardContent

		| hello
				

.sidebar
	.adverts
		img(src="/img/temp.jpg")