script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")

script(type="text/javascript", src="/js/libs/underscore.js")
script(type="text/javascript", src="/js/libs/json2.js")
script(type="text/javascript", src="/js/libs/backbone-min.js")

script(type="text/javascript", src="/js/libs/bootstrap/bootstrap.js")

script(type="text/javascript", src="/js/script.js")

script(type="text/javascript")
	$(function(){
		var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	});

script(type="text/javascript")
	var _gauges = _gauges || [];
	(function() {
		var t   = document.createElement('script');
		t.type  = 'text/javascript';
		t.async = true;
		t.id    = 'gauges-tracker';
		t.setAttribute('data-site-id', '4f5a1876f5a1f50a58000016');
		t.src = '//secure.gaug.es/track.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(t, s);
	})();