.dashboardNavigation
	ul
		li.profile
			a(href="/settings/laura.fabian/profile") Profile
		li.subscriptions
			a(href="/settings/laura.fabian/subscriptions") Subscriptions
		li.privacy
			a(href="/settings/laura.fabian/privacy") Privacy
		li.account
			a(href="/settings/laura.fabian/account") Account
		