.mainContent
	
	!= partial('dashboard/laura/laura_profile')

	.following.icons
		!= partial('dashboard/laura/_dashboard_navigation_following')

	.dashboardContent

		a(name="following")
		h3.following Laura's Following

		!= partial('dashboard/laura/_laura_following_list')
		!= partial('dashboard/laura/_laura_following_list')
		!= partial('dashboard/laura/_laura_following_list')
		!= partial('dashboard/laura/_laura_following_list')

		!= partial('dashboard/laura/_laura_following_list')
		!= partial('dashboard/laura/_laura_following_list')
		!= partial('dashboard/laura/_laura_following_list')
		!= partial('dashboard/laura/_laura_following_list')

		!= partial('dashboard/laura/_laura_following_list')
		!= partial('dashboard/laura/_laura_following_list')
		!= partial('dashboard/laura/_laura_following_list')
		!= partial('dashboard/laura/_laura_following_list')

		a(name="followers")
		h3.following Laura's Followers

		!= partial('dashboard/laura/_laura_following_list')
		!= partial('dashboard/laura/_laura_following_list')
		!= partial('dashboard/laura/_laura_following_list')
		!= partial('dashboard/laura/_laura_following_list')

		!= partial('dashboard/laura/_laura_following_list')
		!= partial('dashboard/laura/_laura_following_list')
		!= partial('dashboard/laura/_laura_following_list')
		!= partial('dashboard/laura/_laura_following_list')

		!= partial('dashboard/laura/_laura_following_list')
		!= partial('dashboard/laura/_laura_following_list')
		!= partial('dashboard/laura/_laura_following_list')
		!= partial('dashboard/laura/_laura_following_list')

		!= partial('dashboard/laura/_laura_following_list')
		!= partial('dashboard/laura/_laura_following_list')
		!= partial('dashboard/laura/_laura_following_list')
		!= partial('dashboard/laura/_laura_following_list')

		!= partial('dashboard/laura/_laura_following_list')
		!= partial('dashboard/laura/_laura_following_list')
		!= partial('dashboard/laura/_laura_following_list')
		!= partial('dashboard/laura/_laura_following_list')

		!= partial('dashboard/laura/_laura_following_list')
		!= partial('dashboard/laura/_laura_following_list')
		!= partial('dashboard/laura/_laura_following_list')
		!= partial('dashboard/laura/_laura_following_list')
				

.sidebar
	.adverts
		img(src="/img/temp.jpg")