.mainContent
	
	!= partial('dashboard/laura/laura_profile')

	.following.list
		!= partial('dashboard/laura/_dashboard_navigation_following')

	.dashboardContent

		!= partial('dashboard/laura/_laura_following_list')
				

.sidebar
	.adverts
		img(src="/img/temp.jpg")