.landing_navigation
	.landing_nav_unit
		img(src="/img/temp/landing_nav_02.png")
		h3 
			a(href="/weddings-seasons") Seasons
	.landing_nav_unit
		img(src="/img/temp/landing_nav_03.png")
		h3
			a(href="/weddings-styles") Styles
	.landing_nav_unit
		img(src="/img/temp/landing_nav_04.png")
		h3
			a(href="/weddings-settings") Settings
	.landing_nav_unit
		img(src="/img/temp/landing_nav_05.png")
		h3
			a(href="/weddings-color") Color