.post
	.postHeader
		h2 
			a(href="/blog_post") Napa Valley Wedding
		.postMeta
			ul.dateAuthorComments
				li.date Apr <span>11</span>
				li.author by emilia jane
				li.comments 
					a(href="/blog_post#comments") 3 comments
			ul.swatches
				li
					img(src="/img/temp/swatch.jpg")
	.postContent I am a HUGE fan of the mason jar chandelier and this handy groom has created one of the best I’ve ever seen!  The creativity doesn’t just stop at the carpentry.  No, no, this is a DIY affair filled to the brim with crafty details all made by this artsy duo.  I absolutely love how personal they got with each element especially choosing to serve breakfast instead of a traditional dinner since it is such an important part of their love story.  Orange Turtle Photography, of course, knocked it out of the park with their dreamy images.  See them all in the full gallery!
	.postBoard 
		img(src="/img/temp/006882-R1-025-11.jpg")
		.postBoardPair
			img.left(src="/img/temp/006882-R1-075-36.jpg", width="449")
			img.right(src="/img/temp/006883-R1-039-18.jpg", width="449")
		img(src="/img/temp/006883-R1-069-33.jpg")
		img(src="/img/temp/006886-R1-076-36A.jpg")
		.postBoardPair
			img.left(src="/img/temp/006891-R1-E008.jpg", width="449")
			img.right(src="/img/temp/006892-R1-E030.jpg", width="449")
		img(src="/img/temp/006895-R1-E013.jpg")
		.postBoardPair
			img.left(src="/img/temp/006923-R1-E027.jpg", width="449")
			img.right(src="/img/temp/006903-R1-E016.jpg")
		img(src="/img/temp/006924-R1-E006.jpg", width="449")
	.postContent From Paul of Unique Photography… Stacey and Edward got married on a typical winter day in San Francisco (i.e., a rainy day), but never for a moment did their joy got dampened by the weather!  Edward and Stacey are an artsy couple, and they did all the styling and put together all the details at the reception themselves. Over the course of a year of their wedding planning, they’d been visiting thrift shores and flea markets to collect all the items they wanted for the wedding day. Edward himself built the mason jar chandeliers that were hanging from the tent. The wedding was a joyous celebration of this awesome couple.
	.postContent
		!= partial('vendor/unique_photography/vendor_business_card')
	.postContent Wedding Photography: Unique Photography / Ceremony: St. Dominic’s Catholic Church in San Francisco, California / Reception: Inn Marin in Novato, California / Wedding Coordination: Lora Salfi of Inn Marin / Wedding Styling: The Bride & Groom / Mason Jar Chandeliers: DIY by the Groom / DJ: Spencer Sutherland / Wedding Dress: La Sposa / Hair: Susan Adzincula / Makeup: Novia Fernandez
	.postContent
		| social media to go here
	.postCommentsSize
		h3 
			a(href="/blog_post#comments") 3 Comments about “San Francisco Wedding by Orange Turtle Photography”