.mainContent
	.post
		.postHeader
			h2 Napa Valley Wedding
			.postMeta
				ul.dateAuthorComments
					li.date Apr <span>11</span>
					li.author by emilia jane
					li.comments 13 comments
				ul.swatches
					li
						img(src="/img/temp/swatch.jpg")
		.postContent I am a HUGE fan of the mason jar chandelier and this handy groom has created one of the best I’ve ever seen!  The creativity doesn’t just stop at the carpentry.  No, no, this is a DIY affair filled to the brim with crafty details all made by this artsy duo.  I absolutely love how personal they got with each element especially choosing to serve breakfast instead of a traditional dinner since it is such an important part of their love story.  Orange Turtle Photography, of course, knocked it out of the park with their dreamy images.  See them all in the full gallery!
		.postBoard 
			img(src="/img/temp/006882-R1-025-11.jpg")
			.postBoardPair
				img.left(src="/img/temp/006882-R1-075-36.jpg", width="449")
				img.right(src="/img/temp/006883-R1-039-18.jpg", width="449")
			img(src="/img/temp/006883-R1-069-33.jpg")
			img(src="/img/temp/006886-R1-076-36A.jpg")
			.postBoardPair
				img.left(src="/img/temp/006891-R1-E008.jpg", width="449")
				img.right(src="/img/temp/006892-R1-E030.jpg", width="449")
			img(src="/img/temp/006895-R1-E013.jpg")
			.postBoardPair
				img.left(src="/img/temp/006923-R1-E027.jpg", width="449")
				img.right(src="/img/temp/006903-R1-E016.jpg")
			img(src="/img/temp/006924-R1-E006.jpg", width="449")
		.postContent From Cindy of Orange Turtle Photography… Stacey and Edward got married on a typical winter day in San Francisco (i.e., a rainy day), but never for a moment did their joy got dampened by the weather!  Edward and Stacey are an artsy couple, and they did all the styling and put together all the details at the reception themselves. Over the course of a year of their wedding planning, they’d been visiting thrift shores and flea markets to collect all the items they wanted for the wedding day. Edward himself built the mason jar chandeliers that were hanging from the tent. The wedding was a joyous celebration of this awesome couple.
		.postContent Wedding Photography: Orange Turtle Photography / Ceremony: St. Dominic’s Catholic Church in San Francisco, California / Reception: Inn Marin in Novato, California / Wedding Coordination: Lora Salfi of Inn Marin / Wedding Styling: The Bride & Groom / Mason Jar Chandeliers: DIY by the Groom / DJ: Spencer Sutherland / Wedding Dress: La Sposa / Hair: Susan Adzincula / Makeup: Novia Fernandez
		.postContent
			| social media to go here
		a(name="comments")
		.postCommentsSize
			h3 15 Comments about “San Francisco Wedding by Orange Turtle Photography”
		.postComment
			ul.user
				li.avatar
					a(href="http://127.0.0.1:3000/dashboard/laura.fabian")
						img(src="/img/temp/laura_thumb.png", width="50", height="50")
				li.follow
					a(href="") Follow
			div.commentMeta
				.top
					.username 
						h4
							a(href="http://127.0.0.1:3000/dashboard/laura.fabian") Laura
					.favorite
						a(href="") Favorite
				.message What a beautiful couple and wedding. I love those placemats - where are they from?
				.date April 11, 2012 at 3:12 pm

		.postComment
			ul.user
				li.avatar
					a(href="")
						img(src="/img/temp/paul_thumb.png", width="50", height="50")
				li.follow
					a(href="") Follow
			div.commentMeta
				.top
					.username 
						h4
							a(href="") Paul
					.favorite
						a(href="") Favorite
				.message @Laura: Those are super-cute! I've sent an email to Orange Turtle Photography ask where they're from. Hopefully I have an answer for you soon!
				.date April 11, 2012 at 3:18 pm

		.postComment
			ul.user
				li.avatar
					a(href="http://127.0.0.1:3000/dashboard/laura.fabian")
						img(src="/img/temp/laura_thumb.png", width="50", height="50")
				li.follow
					a(href="") Follow
			div.commentMeta
				.top
					.username 
						h4
							a(href="http://127.0.0.1:3000/dashboard/laura.fabian") Laura
					.favorite
						a(href="") Favorite
				.message @Paul - thank you! Much appreciated :)
				.date April 11, 2012 at 3:46 pm

.sidebar
	.adverts
		img(src="/img/temp.jpg")