!!! 5
html(lang="en")
	//if lt IE 7      
		html.no-js.lt-ie9.lt-ie8.lt-ie7 
	//if IE 7         
		html.no-js.lt-ie9.lt-ie8
	//if IE 8         
		html.no-js.lt-ie9
	//if gt IE 8 
		html.no-js
	head
		//if lt IE 9
			script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title= title
		meta(name="description", content="sample node.js app with bootstrap")
		meta(name="author", content="jayfallon")
		meta(name='viewport', content='width=device-width', initial-scale='1.0')
		
		link(href="/css/styles.css", rel="stylesheet")
		link(href="/css/application.css", rel="stylesheet")

		script(type="text/javascript", src="js/libs/modernizr-2.5.3-respond-1.1.0.min.js")

		//fonts
		link(href='http://fonts.googleapis.com/css?family=Judson', rel='stylesheet', type='text/css')
	

	body
		//if lt IE 7
			p.chromeframe 
				| You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.

		.globalWrapper

			.headerWrapper
				!= partial('header/header')
			.main
				<!-- start here -->
				!= body
				<!-- end here -->
			.footer
				!= partial('footer/footer')

		!= partial('scripts/scripts')